.text {
  // align
  &-align-left {
    text-align: left;
  }

  &-align-center {
    text-align: center;
  }

  &-align-right {
    text-align: right;
  }

  // font-weight

  &-bold {
    font-weight: bold;
  }

  &-light {
    font-weight: 400;
  }

  &-medium {
    font-weight: 500;
  }
  
  &-dark {
    font-weight: 700;
  }

  &-bold-dark {
    font-weight: 600;
  }

  &-dim {
    font-weight: 300;
  }
  // font-color
  &-primary-color {
    color: $primary-color;
  }

  &-secondary-color {
    color: $secondary-color;
  }

  &-default-color {
    color: $default-color;
  }

  &-danger-color {
    color: $danger-color;
  }

  &-white-color {
    color: $white-color;
  }

  &-grey-color {
    color: $grey-shade-1;
  }

  &-grey-shade-2 {
    color: $grey-shade-2;
  }

  &-grey-shade-3 {
    color: $grey-shade-3;
  }

  &-grey-shade-4 {
    color: $grey-shade-4;
  }

  &-grey-shade-5 {
    color: $grey-shade-5;
  }
  &-grey-shade-6 {
    color: $grey-shade-6;
  }
  &-grey-shade-7 {
    color: $grey-shade-7;
  }
  &-grey-shade-8 {
    color: $grey-shade-8;
  }

  &-active-status {
    color: $active-color;
  }
  &-pending-status {
    color: $pending-color;
  }
  // misc
  &-underline {
    text-decoration: underline;
  }

  &-uppercase {
    text-transform: uppercase;
  }

  &-word-break {
    word-break: break-all;
  }

  &-inline {
    white-space: nowrap;
  }

  &-italic {
    font-style: italic;
  }

  &-overflow-ellipses {
    text-overflow: ellipsis;
  }

  &-xs {
    font-size: $xs-font;
  }

  &-sm {
    font-size: $sm-font;
  }

  &-md {
    font-size: $md-font;
  }

  &-lg {
    font-size: $lg-font;
  }
  
  &-xl {
    font-size: $xl-font;
  }

  &-xxl {
    font-size: $xxl-font;
  }
  
  &-xxxl {
    font-size: $xxxl-font;
  }

  &-md-lg{
    font-size: $md-lg-font;
  }
  &-huge {
    font-size: $huge-font;
  }
  
  &-right {
    right: 0;
  }
}
