.position {
  &-relative {
    position: relative;
  }

  &-absolute {
    position: absolute;
  }

  &-static {
    position: static;
  }

  &-fixed {
    position: fixed;
  }
}

.overflow {
  &-hidden {
    overflow: hidden;
  }

  &-auto {
    overflow: auto;
  }

  &-y-auto {
    overflow-y: auto;
  }
}

.box-shadow {
  &-none {
    box-shadow: none;
  }

  &-black {
    box-shadow: 0px 0px 40px 0px #00000080;
  }
  &-grey-shade {
    box-shadow: 2px 0px 8.1px 0px #7a7a7a40;
  }
}

.display {
  &-none {
    display: none;
  }
}
