.header {
  display: flex;
  width: 100%;
  height: 4rem;
  color: white;
  position: fixed;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  // z-index: 1000; /* Makes sure the header stays above other elements */
  // padding: 15px 20px;
  .site-logo {
    cursor: pointer;
  }

  .avatar {
    margin-right: 1.9rem;
    img {
      width: 28%;
      margin-left: 1.5rem;
      cursor: pointer;
    }
    svg {
      width: 7%;
      color: white !important;
      cursor: pointer;
    }
  }
}

.popup {
  background-color: #eef0fc !important;
  border-radius: 1rem !important;
  float: left !important;
}

.popup::before {
  background-color: #eef0fc !important;
}

.popup-content {
  li {
    cursor: pointer;
  }
  list-style: none;
  padding: 0;
  margin: 0;
  li {
    padding: 2px;
    font-size: 14px;
  }
}
