.product-card {
  display: flex;
  padding: 60px;
 
  height: 100vh;
  background-color: #f9f7f4;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;

  .product-images {
    flex: 1;
    display: flex;
    
    
    .thumbnail-images {
      display: flex;
      flex-direction: column;
      
      img {
        width: 60px;
        height: 60px;
        margin: 5px;
        cursor: pointer;
        border: 1px solid #ddd;
        border-radius: 4px;
      }
    }

    .main-image {
      img {
        width: 300px;
        margin-left: 30px;
        height: 300px;
        border-radius: 8px;
      }
    }
  }

  .product-details {

    .product-title {
      font-size: 24px;
      font-weight: bold;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    .product-price {
      font-size: 20px;
      color: #000000;
    }

    .rating {
      margin: 10px 0;
      font-size: 16px;
      color: #ffd700;
    }

    .product-description {
      // margin: 6px;
      color: #000000;
      font-size: 14px;
    }

    .product-options {
      display: flex;
      margin: 30px 0;
      


      .size-button, .color-button {
        border: 1px solid skyblue;
        padding: 6px;
        margin-right: 9px;
        cursor: pointer;
      }
    }

    .product-actions {
      display: flex;
      align-items: center;
      margin: 20px 0;
      
      .quantity-controls {
        display: flex;
        align-items: center;
        margin-right: 20px;

        button {
          background: #f0f0f0;
          border: 1px solid #ddd;
          padding: 5px 10px;
          cursor: pointer;
        }

        span {
          margin: 0 10px;
        }
      }

      .add-to-cart, .compare {
        padding: 10px 15px;
        border: 1px solid #000;
        margin-right: 10px;
        cursor: pointer;
        background-color: #fff;
        border-radius: 4px;
      }
    }

    .additional-info {
      margin-top: 40px;
      color: #000000;
      font-size: 18px;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      p {
        margin: 12px 0;
      }
    }

    .social-share {
      margin-top: 10px;

      a {
        margin-right: 10px;
        color: #333;
      }
    }
  }
}
